#sidenav{
    position: fixed;
    width: 35%;
    height: 100%;
    left: -35%;
    background-color: dimgray;
    transition: 0.5s ease;
}
#sidenav li{
    font-size: 20px;
    padding: 12px 16px;
    list-style: none;
    text-align: center;
    cursor: pointer;
    color: #f0f0f0;
    transition: 0.3s linear;
}
#sidenav ul li:hover{
    background-color: green;
    font-size: 35px;
    transform: rotatex(360deg);
}
.dropdown {
    position: relative;
    display: inline-block;

}
.dropdown .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    float: left;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a{
    color: #fff;
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s ease;
}
.dropdown-content a:hover{
    background-color: green;
    font-size: 35px;
    transform: rotateX(360deg);
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown:hover li{
    background-color: green;
    font-size: 35px;
    width: 100%;
} 
.toggle-btn{
    position: absolute;
    left: 101%;
    top: 15px;
}
.toggle-btn span{
    cursor: pointer;
    display: block;
    background-color: black;
    width: 30px;
    height: 5px;
    margin: 8px auto;

}
#sidebar.active{
    left: 0;
}





